body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: #f0f0f0;
    padding: 50px;
}

.login-container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

form {
    margin-top: 20px;
}

input,
button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ccc;
}


div{
    display: ruby;
}

input{
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

::placeholder{
    text-align: center;
}
